<div class="logincard">

    <mat-card class="mat-elevation-z8">
        <mat-card-title>
            <h1> Login </h1>
        </mat-card-title>

        <mat-card-content>
            <div>
                <form [formGroup]="loginForm" (ngSubmit)="onlogin()">
                <mat-form-field appearance="standard">
                    <mat-label>Username</mat-label>
                    <input matInput type="email" formControlName="email"  required>
                    <!-- <span class="text-help" *ngIf="email.dirty"></span> -->
                    
                    <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please Enter a valid Username </span> -->
                    <!-- <mat-error *ngIf=”login.get(‘username’).errors && login.get(‘username’).errors.email”> Invalid E-Mail Pattern</mat-error> -->
                    
                    <!-- <input 
                    type="text"
                    id="username"
                    class="form-control"
                     matInput value ="" required>  -->
                    <!--ngModel
                    name="admin" > -->
                    
                    <mat-icon matPrefix> mail </mat-icon>
                    
                </mat-form-field>
            
           
            
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <!-- <mat-error *ngIf=”login.get(‘password’).errors”> Min length should  be 6. 
                        </mat-error> -->
                    
                    <!-- <input 
                    type="text"
                    id="password"
                    class="form-control"
                     
                    matInput [type]="hide ? 'password' : 'text'" required> -->
                    <mat-icon matPrefix> lock </mat-icon>
                </mat-form-field>
            
            
            <a routerLink="/">Forgot Password?</a>
        
       
        
            <div>
                <button mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>

            </div>
        </form>
    </div></mat-card-content>
        
    </mat-card>
</div>
<!-- <a type="button" class="more-styles" 
[hidden]="!inboundClick" 
(click)="inboundClick = !inboundClick" 
[routerLink]="['/inbound']" href="">
</a>

<a type="button" class="more-styles" 
[hidden]="!outboundClick " 
(click)="outboundClick = !outboundClick " 
[routerLink]="['/outbound']" href="">
</a> -->
