.content {
  color: #545454;
  font-size: 16px;
  font-weight: normal;
}
.main-content {
  width: 80%;
  padding-left: 10%;
  cursor: pointer;
}

.whole-content {
  background-color: white;

  padding-top: 40px;
  width: 100%;
}

.name {
  font-weight: bolder;
  // padding-top: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  // display: flex;
}
.title {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.total-content {
  padding-bottom: 15px;
}
:host ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-subscript-wrapper {
    margin: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(10, 10, 10);
  }
}

.mat-form-field {
  width: 100%;
  height: clamp(1rem, 2rem, 3rem);
}

input::placeholder,
mat-icon,
mat-label {
  color: rgb(6, 6, 6);
}
.searchBar {
  padding-bottom: 20px;
  width: 80%;
  padding-left: 10%;
}
.noDataImage {
  width: 80%;
  padding-left: 30%;
  padding-top: 5%;
}
.mat-card:hover {
  background-color: rgb(231, 230, 230);
}
.mat-card {
  border-radius: 10px;
}
