.main{
    padding: 1rem 3rem;
    margin: 1rem 3rem;
}
.blog {
    display: flex;
    flex: row wrap;
    justify-content: center;
    padding: 1rem 0;
}

.article{
    padding: 1rem 1rem;
}

.btnsGap {
    display: flex;
    gap: 1rem;
}

.btnMargin {
    margin-top: 1rem;
}

.matStepDirection {
    display: flex;
    flex-direction: column;
}

.uploadIcon:nth-child(1) {
    margin-inline-start: auto;
}

form label{
    width: 90%;
    border-radius: 5px;
    border: 1px ridge rgba(0, 0, 0, 0.12);
    height: auto;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    padding: 0.8rem 0.5rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    color:grey ;
}


@media (max-width : 1820px){
    form label{
        width:100%
    }
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

.toggleBtn{
    border: none;
    background-color: white;
}

h3{
    margin: 0%;
}

.treeNode{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

