
<div class="mat-spinner">
  <mat-spinner *ngIf="loadSpinner" ></mat-spinner>
</div>


<mat-card class="main" *ngIf="!loadSpinner">
  <h1 style="font-weight: 500">
    <mat-icon class="arrow_back_btn" (click)="back()">arrow_back  </mat-icon>{{clickedCategory  | titlecase}}

  </h1>
  <hr />

  <div class="blog">

    <mat-card style="min-width: 20%;max-width: 100%;">

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="treeNode">
            <h3 (click)="onclickSubCategory(node) "  [ngClass]="{'active' : active == node.subCatId}">{{ node.name | titlecase}}</h3>
          </mat-tree-node>

          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle class="toggleBtn" [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                  treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                  }}
                </mat-icon>
              </button>
              <h3 (click)="onclickSubCategory(node)" [ngClass]="{'active' : active == node.subCatId}">{{ node.name | titlecase}} </h3>
            </div>
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
              <ng-container matTreeNodeOutlet></ng-container>
            </div>

          </mat-nested-tree-node>

        </mat-tree>
      <div
        style="display: flex;flex-direction: column;flex-wrap: wrap;gap: 0.5rem; justify-content: centera;align-items: center;" *ngIf="loggedIn">
        <button *ngIf="loadash.size(category[0]) >0 && !category[0].blog " mat-button class="btn-secondary"
          style="margin:0 0.4rem;" (click)="openSuggestion()">
          Add suggestion to {{clickedCategory}}
        </button>
        <button mat-button class="btn-secondary" style="margin:0 0.4rem;" (click)="open()">
          Add subcategory to {{clickedCategory}}
        </button>
      </div>

    </mat-card>

    <mat-card  class="article">
      <mat-icon style="display: flex;align-self: flex-end;float: right;" *ngIf="loggedIn && loadash.size(category[0]) >0 && category[0].blog " (click)="editBlog()">edit</mat-icon>
      <div *ngIf="dataSource.data">
        <div [innerHTML]="dataSource.data[0].blog" *ngIf="loadash.size(category[0]) >0 && category[0].blog"></div>

      </div>

      <div *ngIf="loadash.size(category[0]) >0 && !category[0].blog" style="display:flex; flex-direction: column; align-items: center; justify-content: center; ">
       
    <img
      src=" https://cdn.iconscout.com/icon/premium/png-128-thumb/files-not-found-4022828-3325917.png"
      alt="no data found" width="50%"
    />
     <h3>No Suggestion Found</h3>

   
      </div>
  


    </mat-card>
  </div>
</mat-card>

<ng-template #categoryDialog>
  <h1 mat-dialog-title>Subcategory to {{clickedCategory}}</h1>
  <div mat-dialog-content>
    <form [formGroup]="firstFormGroup" style="display: flex; gap: 0.5rem; flex-flow: column wrap">
      <mat-form-field appearance="outline">
        <mat-label>Subcategory </mat-label>
        <input matInput placeholder="Ex. Profile, Login etc" formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput required formControlName="description"></textarea>
      </mat-form-field>
    
    </form>
  </div>
  <div mat-dialog-actions class="btnsGap" style="margin-top: 0.5rem">
    <button mat-button mat-dialog-close class="btn-secondary" (click)="saveCategory(data)">
      Save
    </button>
    <button mat-button mat-dialog-close class="btn-secondary">Cancel</button>
  </div>
</ng-template>

<ng-template #sugestionDialog>
  <h1 mat-dialog-title>Suggestion to {{clickedCategory}}</h1>
  <div mat-dialog-content>
    <form [formGroup]="firstFormGroup" style="display: flex; gap: 0.5rem; flex-flow: column wrap">
      <ckeditor [editor]="Editor" formControlName="blog" class="customEditor"></ckeditor>
    </form>
  </div>
  <div mat-dialog-actions class="btnsGap" style="margin-top: 0.5rem">
    <button mat-button mat-dialog-close class="btn-secondary" (click)="saveSuggestion(data)">
      Save
    </button>
    <button mat-button mat-dialog-close class="btn-secondary">Cancel</button>
  </div>
</ng-template>